* {
    box-sizing: border-box;
}

body {
    background: rgb(255, 240, 240);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.panel-container {
    background-color: rgb(193, 147, 147);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 700px;
    color: #612d2d;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
}

.rating-container {
    display: flex;
    margin: 20px 0;
}

.rating {
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    transition: background 0.3s ease, transform 0.3s ease;
}

.panel-container strong {
    text-align: center;
    line-height: 20px;
}


.icon {
    font-size: 4rem;
    margin: 0;
}

.rating small {
    color: #fff;
    margin: 10px 0 0;
}

.rating:hover,
.rating.active {
    background: #ccc;
    border-radius: 4px;
}

.btn {
    background: #8f6f6f;
    color: rgb(255, 224, 51);
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
    letter-spacing: 1px;
}